$flag-purple: hsla(263, 56%, 76%, 1);
$flag-blue: hsla(187, 74%, 47%, 1);
$flag-green:  hsla(98, 52%, 54%, 1);
$flag-yellow: hsla(76, 98%, 50%, 1);
$flag-orange: hsla(17, 72%, 62%, 1);
$flag-red: hsla(358, 72%, 62%, 1);
$flag-pink: hsla(330, 77%, 69%, 1);
$flag-brown: hsla(35, 77%, 27%, 1);
$flag-black: hsla(0, 0%, 5%, 1);
$flag-white: hsla(0, 0%, 99%, 1);
$flag-rainbow: linear-gradient(90deg, 
    #161517 100%, 
    #815D2D 100%, 
    #ED75B2 100%, 
    #E45A5E 100%, 
    #E47F56 100%, 
    #B9FD02 100%, 
    #7AC74D 100%, 
    #1FBCD1 100%, 
    #B99FE4 100%); 