@import url('https://fonts.googleapis.com/css?family=Homenaje');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;900&family=Shanti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');

/* **********************************************************************************/
/* *********//*/ CSS RESETS /*/
/* ***********************************************************************************/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strong,sub,sup,var,
b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,
aside,canvas,details,embed,figure,figcaption,footer,header,nav,output,ruby,section,
summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline; }

article,aside,details,figcaption,figure,footer,header,nav,section { display: block; }

input[type="radio"] { display: none; place-content: center; -webkit-appearance: none;appearance: none; }
html { font-size: 100%; color: var(--black1); overflow: hidden;} /*16px*/
body { line-height: 1.2; }
blockquote,q { quotes: none; }
ol,ul { list-style: none; }

 /* **********************************************************************************/
 /* *********//*/ PSEUDO-CLASSES /*/
 /* ***********************************************************************************/

 :root {
  --primary-red: hsla(8, 72%, 52%, 1);
  --primary-yellow: hsla(76, 98%, 50%, 1);
  --neutral1: hsla(127, 4%, 60%, 1);
  --neutral04: hsla(127, 4%, 60%, 0.4);
  --white1: hsla(100, 100%, 100%, 1.0);
  --white08: hsla(100, 100%, 100%, 0.8);
  --white04: hsla(100, 100%, 100%, 0.4);
  --white02: hsla(100, 100%, 100%, 0.2);
  --black1: hsla(0, 0%, 0%, 1.0);
  --black08: hsla(0, 0%, 0%, 0.8);
 }

/* **********************************************************************************/
/* *********//*/ POSITIONS & Z-INDEX /*/
/* ***********************************************************************************/

canvas { position: absolute; top: 0; left: 0; z-index: 1000; }
#htdi-player { position: absolute; top: 64px; right: 160px; z-index: 1000; }

/* **********************************************************************************/
/* *********//*/ Audio Player/*/
/* ***********************************************************************************/


#htdi-player {
}

#controls {
  display: flex;
  flex-flow: column wrap;
  width: 180px;
  font-family: cy, sans-serif;
}

#play, 
#pause { backdrop-filter: blur(5px); background: var(--white04) ;font-family: cy, sans-serif; font-weight: 700; line-height: 1.5; }




/* --------------------------------------------------------------------------------- */
/* *-> / UI / <-*/
/* **********************************************************************************/

@media only screen 
{
  canvas { position: absolute; top: 0; left: 0; z-index: 1000; }
  .logo-img { position: fixed; z-index: 50000; background: var(--black08); padding-top: 8px; top: 2%; right: 2%; border-radius: 8px; }
  .social-cont { position: fixed; z-index: 50000; display: flex; flex-flow: row nowrap; }
  .headers { display: flex; flex-flow: row nowrap; position: fixed; z-index: 50000; right: 1%; bottom: 2%;  user-select: none; }
  .main-title { color: var(--black1); padding: 8px; text-align: right; }
  .main-subtitle { padding: 8px; background: var(--primary-red); color: var(--black1);}
}


/* max-width 640px, mobile-only styles. */
@media only screen and (max-width: 40em) 
 {
  .social-cont { top: 8px;left: 8px; }
  #htdi-player { position: absolute; top: 64px; left: 8px; z-index: 1000; }


 }

 /* Medium screens - TABLET min-width 641px  */
 @media only screen and (min-width: 40.063em) 
 {


 }

 /* Large screens - DESKTOP  min-width 1025px */
 @media only screen and (min-width: 64.063em) 
 {


 }

 /* XLarge screens  min-width 1441px, xlarge screens */
 @media only screen and (min-width: 90.063em) { } 

 /* min-width 1921px, xlarge screens */
 @media only screen and (min-width: 120.063em) { }

 /* **********************************************************************************/
 /* ****************************** /* CSS for iPhone orientation
 /* ***********************************************************************************/
  
 /* Portrait */

 @media only screen and (orientation:portrait) { 
   /* classes */

   /* texts */
   h1 { font-size: 1.209rem; }
   h3 { font-size: 1rem; }
 }

 /* Landscape */

 @media only screen and (orientation:landscape) { 
   h1 { font-size: 1.209rem; }
   h3 { font-size: .8rem; }
   #htdi-player { top: 64px; left: 40px; }
 }

/* **********************************************************************************/
/* ****************************** / TEXT /************************************/
/* ***********************************************************************************/

/* BASE TEXT STYLES */
p,h2, h3, h4, h5 { font-family: cy,sans-serif; font-weight: 400;font-style: normal; margin: 0; }
h1, h2 { font-family: "Orbitron", sans-serif; font-weight: 900; margin: 0 auto; }

@media only screen {}
@media only print {}

/* Small screens 1.125 - Major Second.  */

@media only screen and (max-width: 40em) 
 {
  h1 { font-size: 1.802rem; }
  h2 { font-size: 1.602rem; }
  h3 { font-size: 1.424rem; }
  h4 { font-size: 1.266rem; }
  h5 { font-size: 1.125rem; }
 }
 
/* Medium screens - 1.200 - Minor Third */

@media only screen and (min-width: 40.063em) 
 {
  h1 { font-size: 2.488rem; }
  h2 { font-size: 2.074rem; }
  h3 { font-size: 1.728rem; }
  h4 { font-size: 1.44rem;  }
  h5 { font-size: 1.2rem;   }
 } 
 
/* large screens. 1.333 - Perfect Fourth */

@media only screen and (min-width: 64.063em) {
  h1 { font-size: 4.209rem; }
 /*  h2 { font-size: 3.157rem; } */
  h3 { font-size: 2.369rem; }
  h4 { font-size: 1.777rem; }
  h5 { font-size: 1.333rem; }
  p  { font-size: 0.7rem; letter-spacing: -0.008em; }
 }



/* **********************************************************************************/
/* ****************************** /* Retina Displays */
/* ***********************************************************************************/

/* ****************************** /* iphone 12 pro max */
@media
  only screen and (-webkit-min-device-pixel-ratio: 3),
  only screen and (   min--moz-device-pixel-ratio: 3),
  only screen and (     -o-min-device-pixel-ratio: 3/1),
  only screen and (        min-device-pixel-ratio: 3),
  only screen and (                min-resolution: 458dpi),
  only screen and (                min-resolution: 3dppx) 
{ 
  .social-cont { top: 8px;left: 8px; flex-flow: row wrap; }
}

/* ****************************** /* Retina 2x Media Query*/
@media
  only screen and (-webkit-min-device-pixel-ratio: 3),
  only screen and (   min--moz-device-pixel-ratio: 3),
  only screen and (     -o-min-device-pixel-ratio: 3/1),
  only screen and (        min-device-pixel-ratio: 3),
  only screen and (                min-resolution: 384dpi),
  only screen and (                min-resolution: 3dppx) { 
    /* Retina styles here */
}

/* ****************************** /* Retina 3x Media Query */
@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) { 
    /* Retina styles here */
}
