@import url('https://fonts.googleapis.com/css?family=Homenaje');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;900&display=swap');


* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--black);
}

body {
  overflow: hidden;
  width: 98%;
}

nav {
  position: fixed;
  color: white;
  z-index: 50000;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 900;
  font-size: 12vh;
  user-select: none;
  line-height: 0.8;
}


.logo2 {
  position: fixed;
  bottom: 20%;
  left: 2%;
  z-index: 50010;
}


canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}


