@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/mint.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/grayDark.css";
@import "@radix-ui/colors/blueDark.css";
@import "@radix-ui/colors/greenDark.css";
@import "@radix-ui/colors/redDark.css";

:root {
  /* Tweak_Pane_theme_translucent  **********************************/

  --tp-base-background-color: hsla(0, 0%, 10%, 0.8);
  --tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
  --tp-button-background-color: hsla(0, 0%, 80%, 1);
  --tp-button-background-color-active: hsla(0, 0%, 100%, 1);
  --tp-button-background-color-focus: hsla(0, 0%, 95%, 1);
  --tp-button-background-color-hover: hsla(0, 0%, 85%, 1);
  --tp-button-foreground-color: hsla(0, 0%, 0%, 0.8);
  --tp-container-background-color: hsla(0, 0%, 0%, 0.3);
  --tp-container-background-color-active: hsla(0, 0%, 0%, 0.6);
  --tp-container-background-color-focus: hsla(0, 0%, 0%, 0.5);
  --tp-container-background-color-hover: hsla(0, 0%, 0%, 0.4);
  --tp-container-foreground-color: hsla(0, 0%, 100%, 0.5);
  --tp-groove-foreground-color: hsla(0, 0%, 0%, 0.2);
  --tp-input-background-color: hsla(0, 0%, 0%, 0.3);
  --tp-input-background-color-active: hsla(0, 0%, 0%, 0.6);
  --tp-input-background-color-focus: hsla(0, 0%, 0%, 0.5);
  --tp-input-background-color-hover: hsla(0, 0%, 0%, 0.4);
  --tp-input-foreground-color: hsla(0, 0%, 100%, 0.5);
  --tp-label-foreground-color: hsla(0, 0%, 100%, 0.5);
  --tp-monitor-background-color: hsla(0, 0%, 0%, 0.3);
  --tp-monitor-foreground-color: hsla(0, 0%, 100%, 0.3);

}

/* make scrollbar transparent */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* ************************************************* */
/* ************************************** CSS RESETS */
/* ************************************************* */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
var,
figcaption,
footer,
header,
nav,
output,
section,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

input[type="radio"] {
  display: none;
  place-content: center;
  -webkit-appearance: none;
  appearance: none;
}

a:hover {
  text-decoration: none;
  color: var(--purple01);
}

a:focus {
  text-decoration: none;
  color: var(--yellow01);
}

a:active {
  text-decoration: none;
  color: var(--white01);
}

a:visited {
  text-decoration: none;
  color: inherit;
}

/* ************************************************ */
/* *********************************** TXT STYLES  */
/* ********************************************** */


.Flowa {
  font-family: Flowa;
  font-style: normal;
  font-stretch: normal;
  font-weight: normal;
}

.Pirulen {
  font-family: Pirulen;
  font-style: normal;
  font-stretch: normal;
  font-weight: normal;
}

p {
  font-size: 0.2rem;
}

h3 {
  font-size: 1.1rem;
}

h2 {
  font-size: 1.4rem;
}

h1 {
  font-size: 2rem;
}


/* ************************************************ */
/* ***************************** HTML&BODY&CANVAS  */
/* ********************************************** */

html {
  min-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
  font-family: "Flowa";
  font-size: 100%;
  line-height: 1.2;
}

canvas#noiseContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

canvas.webgl {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

#nav {
  display: flex;
  align-items: center;
  height: 120px;
  position: fixed;
  top: 0px;
  z-index: 999999;
  width: 100%;
}

#KBLLR {
  display: flex;
  height: 120px;
  position: fixed;
  bottom: 0px;
  z-index: 999999;
  width: 100%;
  padding: 24px;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(10px, 0.8vw, 20px);
  justify-content: center;
  
  width: 80vw;
}

#projects>.profile {
  aspect-ratio: 7 / 8;
  backdrop-filter: blur(0.75vw);
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 1vw;
  cursor: pointer;
  transition: background-color 250ms;
  width: calc(25% - clamp(10px, 0.8vw, 20px));
}

.profile>.profile-content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 90vh;
  justify-content: center;
  padding: clamp(8px, 1vw, 12px);
}

.profile>.profile-content>.profile-pic {
  aspect-ratio: 1;
  border: clamp(2px, 0.4vw, 5px) solid var(--mint4);
  border-radius: 100%;
  flex-shrink: 0;
  height: 70%;
  position: relative;
}

.profile>.profile-content>.profile-pic>.profile-pic-image {
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 100%;
  height: calc(100% - clamp(10px, 1.5vw, 20px));
  margin: clamp(5px, 0.75vw, 10px);
  object-fit: cover;
  width: calc(100% - clamp(10px, 1.5vw, 20px));
}

.profile>.profile-content>.profile-name {
  color: var(--darkGrey13);
  font-family: 'Pirulen', sans-serif;
  font-size: clamp(1em, 2vw, 2em);
  margin: 0px;
  text-align: center;
}

#nav-items {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 120px;
  position: fixed;
  bottom: 0%;
  right: 5%;
}

#nav-items>.nav-item {
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  height: 100px;
  place-items: center;
  transition: background-color 250ms;
  width: 100px;
}

#nav-items>.nav-item:hover {
  background-color: var(--mint3);
}

#nav-items>.nav-item:hover>i {
  color: var(--mint3);
}

#nav-items>.nav-item>i {
  color: var(--mint3);
  transition: color 250ms;
}


/* ************************************************* */
/* *********************** UI ARROWS + Project Titles*/
/* ************************************************* */

/* #projectCarroussel {
 display: flex;
 flex-flow: row nowrap;
 gap: clamp(100px, 2vw, 200px);
 justify-content: center;
 width: clamp(900px, 90vw, 1400px);
} */

.navTitles {
  position: fixed;
  z-index: 400;
  display: flex;
  flex-flow: row nowrap;
  gap: clamp(600px, 4vw, 900px);
  justify-content: center;
  margin-left: 80px;
  width: clamp(600px, 80vw, 1400px);
}

.title {
  text-align: center;
  pointer-events: none;
  z-index: 1;
  mix-blend-mode: normal;
}

h1 {
  place-self: center;
  font-size: clamp(1em, 2vw, 2em);
  color: var(--indigo1);
  letter-spacing: -1px;
  text-align: center;
  line-height: 0.75;
  padding-left: 3px;
}

.prev,
.next {

  border-radius: 50%;
}

.slider {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
  cursor: pointer;
  border: 2px solid white;
  opacity: 1;
}

.slider:hover {
  transform: scale(1.5);
  color: var(--venom);
}

/* ************************************************* */
/* ************************************ MUSIC PLAYER   */
/* ************************************************* */

.nav-music {
  position: absolute;
  z-index: 40;
  top: 0px;
}

.uiList {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  place-self: center;
}

.uiList__item {
  width: 10%;
  height: 10%;
  place-self: stretch;
  color: var(--darkGrey9);
}

/* ************************************************* */
/* ******************************** OVERLAYERS  */
/* ************************************************* */

.overlay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 1;
}

/* #eye {
  mix-blend-mode: color-dodge;
} */

#videoFrame {}

#tvLines {
  z-index: 3;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAABS2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxNDAgNzkuMTYwNDUxLCAyMDE3LzA1LzA2LTAxOjA4OjIxICAgICAgICAiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIi8+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJyIj8+LUNEtwAAABBJREFUCJljYGBg8GViQAEABQIAUMdse+oAAAAASUVORK5CYII=");
  mix-blend-mode: multiply;
}

.videoBg {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -2;
  overflow: hidden;
  display: flex;
  justify-content: center;
}


@media only screen and (max-width: 40em) {}

/* Tablet --> min-width 641px  */
@media only screen and (min-width: 40.063em) {}

/* Desktop --> min-width 1025px */
@media only screen and (min-width: 64.063em) {}

/* Desktop --> min-width 1441px */
@media only screen and (min-width: 90.063em) {}

/* Desktop --> min-width 1921px */
@media only screen and (min-width: 120.063em) {}

/* ************************************************* */
/* ******************************** MODALS  */
/* ************************************************* */

.modal {
  position: fixed;
  z-index: 7;
  width: 100vw;
  height: 100vh;
  top: 0;
  opacity: 0;
  transition: all 1s ease;
  display: grid;
  place-items: center;
  background: var(--blck08);
  text-align: left;
  pointer-events: none;
}

.modal.visible {
  opacity: 1;
  pointer-events: auto;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#cross {
  position: fixed;
  right: 5%;
  top: 5%;
  padding: var(--paddingXL);
  background: var(--blck04);
}

#cross:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: transform 150ms linear;
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.2);
  background: var(--mint03);
}

#info {
  width: 90vw;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  padding: 5%;
  transition: all 1.2s ease-out;
  color: var(--mint4);
}

.modal__text {
  text-shadow: var(--mint6) 0 0 0.8rem;
  font-family: "Pirulen";
  line-height: 1.5;
  font-size: 1rem;
  padding-top: 2vh;
}

/* **********************************************************************************/
/* ****************************** /* MEDIA QUERIES */
/* ***********************************************************************************/

@media only screen and (max-width: 40em) {}

/* Tablet --> min-width 641px  */
@media only screen and (min-width: 40.063em) {}

/* Desktop --> min-width 1025px */
@media only screen and (min-width: 64.063em) {}

/* Desktop --> min-width 1441px */
@media only screen and (min-width: 90.063em) {}

/* Desktop --> min-width 1921px */
@media only screen and (min-width: 120.063em) {}

/* **********************************************************************************/
/* ****************************** /* MEDIA QUERIES */
/* ***********************************************************************************/

@media only screen and (max-width: 1140px) {}

@media only screen and (max-width: 840px) {}

@media only screen and (max-width: 600px) {}

/* *************************************************************************************/
/* ****************************** /* Retina Displays **********************************/
/* ***********************************************************************************/

/* ****************************** /* iphone 12 pro max */
@media only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and (min--moz-device-pixel-ratio: 3),
only screen and (-o-min-device-pixel-ratio: 3/1),
only screen and (min-device-pixel-ratio: 3),
only screen and (min-resolution: 458dpi),
only screen and (min-resolution: 3dppx) {}

/* ****************************** /* Retina 2x Media Query*/
@media only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and (min--moz-device-pixel-ratio: 3),
only screen and (-o-min-device-pixel-ratio: 3/1),
only screen and (min-device-pixel-ratio: 3),
only screen and (min-resolution: 384dpi),
only screen and (min-resolution: 3dppx) {
  /* Retina styles here */
}

/* ****************************** /* Retina 3x Media Query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  /* Retina styles here */
}

/* Desktop --> iPhone Orientation */
@media only screen and (orientation:portrait) {}

@media only screen and (orientation:landscape) {}